.app-content {
    margin-left: 19%;
    margin-right: 0%;
    padding: 2px 2px;
    background-color: rgb(248, 250, 252);
}

Hr {
    margin-top: 10px;
    margin-bottom: 10px
}

.row {
    margin: 0px 5px;
    padding: 0px 5px;
}
.col-12 {
    padding: 3px 0px;
    margin: 0px 0px;
}

.col-8 {
    padding: 3px 0px;
    margin: 0px 0px;
}

.col-4 {
    padding: 3px 0px;
    margin: 0px 0px;
}