.app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    padding: 0px 6px;
    font-size: small;
    background-color: #eff4f8
}

.app-sidebar-dd-label {
    text-align: left;
    margin-bottom: 1px
}

.dropdown {
    padding-bottom: 10px;
}