.app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    padding: 0px 6px;
    font-size: small;
    /* background-color: #eff4f8 */;
    background-color: #F0F1F2;
    border-right: 1px solid;
    border-color: #d4d4d4;
}

.app-sidebar-dd-label {
    text-align: left;
    margin-bottom: 1px;
    color: #212122;
}

.dropdown {
    padding-bottom: 10px;
}